
.ds4a-app {
    background-color: #094246;
}

.ds4a-body {
    text-align: center;
    width: 100%;
    padding: 1rem 1rem;
    background-color: #094246;
    color:burlywood;
}

.ds4a-title {
    text-align: center;
    padding: 1rem 1rem;
    height: 80px;
    background-color: #235858;
    color: #eb6661;
}

.ds4a-sidebar {
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 1rem;
    background-color: #094246; 
    color:burlywood;
}